name: Deploy Frontend to S3

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: us-west-2
      S3_bucket: aws-demo

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: "24.7.0"

      - name: Install deps
        run: npm ci

      - name: Build app
        run: npm run build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID  }}
          aws-secret-access-key: ${{secrets.AWS_SECRE_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Sync build to S3
        run: |
          aws s3 sync ./build s3://$S3_Bucket \
            --delete \
            --cache-control "public, max-age=300"
